/OLD venv
outputs/debug/tmp0jqsl4av.png
outputs/debug/tmpfpbv4zl6.png
outputs/debug/tmpjalmv2f0.jpg
outputs/debug/tmplikr8f7z.jpeg
outputs/debug/tmpqsw3nkta.png
outputs/debug/tmpxs_z8x4h.jpeg
outputs/debug/tmpy0a4lrdf.png
outputs/json/tmp0jqsl4av.png
outputs/json/tmpfpbv4zl6.png
outputs/json/tmpjalmv2f0.jpg
outputs/json/tmplikr8f7z.jpeg
outputs/json/tmpqsw3nkta.png
outputs/json/tmpxs_z8x4h.jpeg
outputs/json/tmpy0a4lrdf.png
outputs/processed/tmp0jqsl4av_corrected.png
outputs/processed/tmp0jqsl4av_enhanced.png
outputs/processed/tmpfpbv4zl6_corrected.png
outputs/processed/tmpfpbv4zl6_enhanced.png
outputs/processed/tmpjalmv2f0_corrected.jpg
outputs/processed/tmpjalmv2f0_enhanced.jpg
outputs/processed/tmplikr8f7z_corrected.jpeg
outputs/processed/tmplikr8f7z_enhanced.jpeg
outputs/processed/tmpqsw3nkta_corrected.png
outputs/processed/tmpqsw3nkta_enhanced.png
outputs/processed/tmpxs_z8x4h_corrected.jpeg
outputs/processed/tmpxs_z8x4h_enhanced.jpeg
outputs/processed/tmpy0a4lrdf_corrected.png
outputs/processed/tmpy0a4lrdf_enhanced.png
samples/novel.jpeg
samples/radya.jpeg
samples/radya.png
samples/suketdomisili.png
